<!DOCTYPE html>
<html>
  <body>
    <div class="footer-position">
      <header class="header">
        <div class="logo">Twitter</div>
        <%= link_to '新規投稿', new_tweet_path, class:"new-menu" %>
        <%= link_to '投稿一覧', tweets_path, class:"new-menu" %>
      </header>
      <div class="container">
